head, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:sans-serif;
}

header.wrapper{
    width: 100%;
    height: 100vh;
    background: url("Blackpink.jpg") no-repeat;
    background-size: cover;
    background-position: top;
}
nav{
    width: 100%;
    position: fixed;
}
nav ul{
    background-color: pink;
    overflow: hidden;
    padding: 0;         
    text-align: center;
    margin: 0;
}
.logo{
    position: fixed;
    float: left;
    padding: 0px;
    margin: 9px 5px 5px 10px;
    font-size: 25px;
    color: black;
    font-weight: bold;
}
nav.black ul{
    background: #000;
}
nav ul li{
    display: inline-block;
    padding: 15px 15px;
    text-transform: uppercase;
    font-weight: bold;
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding: 15px;
}
img{
    width: 30%;
}
span{
    display: flex;
}
h1{
    font-family:sans-serif;
    padding: 20px 10px;
}
p{
    padding: 0px 0px 0px 30px;
    text-indent: 100px;
    font-size: 20px;
}
.HistoyOfBlackpink{
    margin: 0;
    padding: 6px;
    background-color: black;
    color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.member{
    margin: 0;
    padding: 6px;
    background-color: black;
    color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:hover{
    background-color: black;
    color: pink;
    border-radius: 15px;
}
.link a:hover{
    font-style: italic;
    font-size: 20px;
    color: red;
}
ol li{
    font-size: 20;
}

::selection{
    color: black;
    background-color: pink;
}